/* button effect */

.btn-bg {
    background-color: var(--btn-bg);
    margin-right    : 1rem;
}

.btn-bg:hover {
    background-color: var(--btn-bg-d);
}

span.btn-bg {
    margin: 0;
}

/* general styles */

body {
    background-image: url(../images/Scattered-Forcefields.svg);
}

hr {
    border       : 6px dotted var(--design);
    border-bottom: none;
    width        : 4%;
}

.page-header-image {
    background-image: url('../images/bgradient.svg');
}

.cc-profile-image img {
    object-fit: cover;
}

.press-image {
    width: 80%;
}

.bold-text {
    font-weight: 600;
    color      : var(--sub-heading);
}

a.bold-text {
    margin-top: 30px;
}

/* text-changing animation */

.h1-text {
    text-transform: uppercase;
    color         : var(--text);
    font-family   : verdana;
    margin        : .5rem 0;
}

.div-content {
    display : inline-flex;
    height  : 2rem;
    overflow: hidden;
    color   : var(--design);
}

.span-text {
    display  : inline-block;
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-41px);
    }

    66% {
        transform: translateY(-80px);
    }

    /* 99%{ transform:translateY(-120px); } */
    100% {
        transform: translateY(0);
    }
}

/* Experience Style */
.cc-experience .cc-experience-header {
    padding-top   : 60px;
    padding-right : 0;
    text-align    : center;
    color         : var(--text);
    text-transform: uppercase;
}

.points {
    list-style: none;
}

.points li::before {
    content    : "\2022";
    color      : var(--btn-bg);
    font-weight: 900;
    font-size  : 1.5rem;
    display    : inline-block;
    width      : 1rem;
    margin-left: -1rem;
}

/* Education Style */
.cc-education .h5 {
    margin-bottom: 0;
}

.cc-education .cc-education-header {
    padding-top  : 60px;
    padding-right: 0;
    text-align   : center;
    color        : var(--text);
}

/* Education and experience section images */

#nsic {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/nsic.jpg);
    background-size : cover;
}

#diploma {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/nsti.jpg);
    background-size : cover;
    font-weight     : 900;
}

#mba {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/mba.png);
    background-size : cover;
    font-weight     : 900;
}

#engg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/engg.jpeg);
    background-size : cover;
    font-weight     : 900;
}

#school {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/school.jpeg);
    background-size : cover;
    font-weight     : 900;
}

/* grid for header text, animation and button. */

.grid-main {
    grid-area : main;
    margin-top: 1rem;
}