hr {
    border       : 6px dotted #378c3f;
    border-bottom: none;
    width        : 4%;
    /* margin    : 3rem auto; */
}

.page-header-image {
    background-image: url('../images/Abstract-Envelope.svg')
}

.cc-profile-image img {
    object-fit: cover;
}

.badge {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.press-image {
    width : 15%;
    margin: 20px 20px 50px;
}

.bold-text {
    font-weight: 600;
}

@media (max-width: 768px) {
    p {
        padding-left: .5rem;
    }
}

@media (min-width: 768px) {
    hr {
        margin: 3rem auto;
    }
}

/* ===== text-changing animation ===== */

.h1-text{
    text-transform: uppercase;
    color: #fff;
    font-family: verdana;
}

.div-content{
    display: inline-block;
    height: 3rem;
    overflow: hidden;
    color: #378c3f;
}
.span-text{
      display: inline-block;
      animation: rotate 5s infinite;
}

@keyframes rotate{
          
      0%{ transform:translateY(0); }

      /* 25%{ transform:translateY(-40px); }              */

      50%{ transform:translateY(-60px); }             

      75%{ transform:translateY(-120px); }

      100%{ transform:translateY(0); }
}