/* Index 
button effect
1 - General styles
2 - profile section
    2.1 - background
    2.2 - images
    2.3 - social button
    2.4 - text changing animation
3 - professional section
4 - 
experience
education
contact information 
footer - social button

*/



/* general styles */

body {
    background-image: url(../images/Scattered-Forcefields.svg);
}

hr {
    border       : 6px dotted var(--design);
    border-bottom: none;
    width        : 4%;
}

.page-header-image {
    background-image: url('../images/bgradient.svg');
}

.cc-profile-image img {
    object-fit: cover;
}

.press-image {
    width: 80%;
}

.bold-text {
    font-weight: 600;
    color      : var(--sub-heading);
}

a.bold-text {
    margin-top: 30px;
}

/* Body */
/* Profile Page Background Style */
.page-header {
    background: rgba(44, 44, 44, 0.2);
    /* For browsers that do not support gradients */
    /* For Safari 5.1 to 6.0 */
    /* For Opera 11.1 to 12.0 */
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(55, 140, 63, 0.6));
    /* Standard syntax */
}

.page-header .btn {
    width: 140px;
}

/* Profile Image Style */
@-webkit-keyframes pulsate {
    0% {
        transform: scale(0.6, 0.6);
        opacity  : 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        transform: scale(1, 1);
        opacity  : 0.0;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(0.6, 0.6);
        opacity  : 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        transform: scale(1, 1);
        opacity  : 0.0;
    }
}

.cc-profile-image a {
    position: relative;
}

.cc-profile-image a:before {
    content                          : "";
    border                           : 15px solid rgba(55, 140, 63, 0.6);
    border-radius                    : 50%;
    height                           : 180px;
    width                            : 180px;
    position                         : absolute;
    left                             : 0;
    -webkit-animation                : pulsate 1.6s ease-out;
    animation                        : pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count        : infinite;
    opacity                          : 0.0;
    z-index                          : 99;
}

.cc-profile-image img {
    position     : relative;
    border-radius: 50%;
    height       : 180px;
    width        : 180px;
    padding      : 0;
    margin       : 0;
    border       : 15px solid transparent;
    z-index      : 9999;
    transition   : all .3s ease-out;
}

.cc-profile-image a:hover img {
    transform: scale(1.06, 1.06);
}

.cc-profile-image a:hover:before {
    -webkit-animation: none;
    animation        : none;
}

/* Profile Page Social button Style */
.button-container .btn-default {
    margin-right: 8px;
}

.btn-bg {
    background-color: var(--btn-bg);
    margin-right    : 1rem;
}

.btn-bg:hover {
    background-color: var(--btn-bg-d);
}

span.btn-bg {
    margin: 0;
}

/* text-changing animation */

.h1-text {
    text-transform: uppercase;
    color         : var(--text);
    font-family   : verdana;
    margin        : .5rem 0;
}

.div-content {
    display : inline-flex;
    height  : 2rem;
    overflow: hidden;
    color   : var(--design);
}

.span-text {
    display  : inline-block;
    animation: rotate 5s infinite;
}

@keyframes rotate {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-41px);
    }

    66% {
        transform: translateY(-80px);
    }

    /* 99%{ transform:translateY(-120px); } */
    100% {
        transform: translateY(0);
    }
}

/* Professional Skills Style */
.progress-container {
    margin-bottom: 20px;
    font-size    : 18px;
}

.progress-container .progress-bar {
    height          : 5px;
    transform       : scaleX(0);
    transition      : transform 2s ease-in-out;
    transform-origin: 0% 0%;
}

.progress-container .progress {
    height   : 5px;
    font-size: 18px;
}

.progress-container .aos-animate {
    transform: scaleX(1);
}


/* Experience Style */
.cc-experience .cc-experience-header {
    padding-top   : 60px;
    padding-right : 0;
    text-align    : center;
    color         : var(--text);
    text-transform: uppercase;
}

.points {
    list-style: none;
}

.points li::before {
    content    : "\2022";
    color      : var(--btn-bg);
    font-weight: 900;
    font-size  : 1.5rem;
    display    : inline-block;
    width      : 1rem;
    margin-left: -1rem;
}

/* Education Style */
.cc-education .h5 {
    margin-bottom: 0;
}

.cc-education .cc-education-header {
    padding-top  : 60px;
    padding-right: 0;
    text-align   : center;
    color        : var(--text);
}

/* Education and experience section images */

#nsic {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/nsic.jpg);
    background-size : cover;
}

#diploma {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/nsti.jpg);
    background-size : cover;
    font-weight     : 900;
}

#mba {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/mba.png);
    background-size : cover;
    font-weight     : 900;
}

#engg {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/engg.jpeg);
    background-size : cover;
    font-weight     : 900;
}

#school {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/school.jpeg);
    background-size : cover;
    font-weight     : 900;
}

/* grid for header text, animation and button. */

.grid-main {
    grid-area : main;
    margin-top: 1rem;
}

/* Contact Information Style */
.cc-contact-information {
    width     : 100%;
    position  : relative;
    overflow  : hidden;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), center / cover no-repeat url("../images/bgradient.svg");
}

.cc-contact-information .cc-contact {
    padding: 8% 0 8% 20%;
}

@media (max-width: 767px) {
    .cc-contact-information .cc-contact {
        padding: 30px 0px 30px 0px;
    }
}

/* Footer */
/* Social button style */
.cc-linkedin:hover i {
    color: #3b5998;
}

.cc-github:hover i {
    color: #111;
}

.cc-whatsapp:hover i {
    color: var(--default-color);
}